* {
  color: #0040fe !important;
}
body {
  background-color: white !important;
}
.breakdance .bde-section-38-100 {
}
.breakdance .bde-section-38-100 > .section-background-overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all var(--bde-transition-duration) ease-in-out;
}
.breakdance .bde-section-38-100:hover > .section-background-overlay {
}
.breakdance .bde-section-38-100 .section-container {
  min-height: 50rem;
}
.bde-heading {
}
@media (max-width: 600px) {
  .bde-heading {
    font-size: 2.5em !important;
    margin-top: -87px !important;
    /* margin-bottom: 5px !important; */
  }
}
@media (max-width: 1119px) {
  .breakdance .bde-section-38-100 > .section-background-overlay {
    transition: all var(--bde-transition-duration) ease-in-out;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-section-38-100 > .section-background-overlay {
    transition: all var(--bde-transition-duration) ease-in-out;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-section-38-100 > .section-background-overlay {
    transition: all var(--bde-transition-duration) ease-in-out;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-section-38-100 {
    /* background-image: url(../images/BG-Home-upd.webp); */
  }
  .breakdance .bde-section-38-100 > .section-background-overlay {
    transition: all var(--bde-transition-duration) ease-in-out;
  }
}
.breakdance .bde-div-38-101 {
  width: 51rem;
  margin-top: 8rem;
  gap: 2rem;
}
.breakdance .bde-div-38-101 h1,
.breakdance .bde-div-38-101 h2,
.breakdance .bde-div-38-101 h3,
.breakdance .bde-div-38-101 h4,
.breakdance .bde-div-38-101 h5,
.breakdance .bde-div-38-101 h6 {
  color: var(--bde-palette-color-5);
}
.breakdance .bde-div-38-101 {
  z-index: 5;
}
@media (max-width: 1119px) {
  .breakdance .bde-div-38-101 {
    width: 42rem;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-div-38-101 {
    width: 36rem;
  }
}
.breakdance .bde-heading-38-486 {
  font-family: Polysans;
  font-size: clamp(3rem, 2.188rem + 3.375vw, 5.125rem);
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 479px) {
  .breakdance .bde-heading-38-486 {
    font-size: 50px;
  }
}
.breakdance .bde-div-38-402 {
  gap: 0.5rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.breakdance .bde-rich-text-38-105 {
  width: 37rem;
}
.breakdance .bde-rich-text-38-105 p {
  color: var(--bde-palette-color-9);
}
.breakdance .bde-image-38-106 {
  width: 70rem;
}
.breakdance .bde-image-38-106 .breakdance-image-object {
  width: 100%;
  height: 40rem;
  object-fit: contain;
  transform: scale(1) translateZ(0);
  transform-origin: 35.05% 6.75%;
}
.breakdance .bde-image-38-106 {
  z-index: 1;
  position: absolute;
  right: -30%;
}


@media (max-width:600px) {
  .breakdance .bde-image-38-106 {
    /* width: 50rem; */
  }
  .breakdance .bde-image-38-106 .breakdance-image-object {
    width: 160px;
    height: auto;
  }
  .breakdance .bde-image-38-106 {
    position: absolute;
    right: -69%;
    bottom: 63%;
  }
}


.breakdance .bde-section-38-107 .section-container {
  gap: 4rem;
}
.breakdance .bde-section-38-107 {
  background-color: white;
}
.breakdance .bde-fancy-divider-38-108 {
  --bde-fancy-divider-border-style: solid;
  --bde-fancy-divider-border-size: 5px;
  --bde-fancy-divider-border-color: var(--bde-palette-color-5);
}
@media (max-width: 1119px) {
  .breakdance .bde-fancy-divider-38-108 {
    --bde-fancy-divider-border-style: solid;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-fancy-divider-38-108 {
    --bde-fancy-divider-border-style: solid;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-fancy-divider-38-108 {
    --bde-fancy-divider-border-style: solid;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-fancy-divider-38-108 {
    --bde-fancy-divider-border-style: solid;
  }
}
.breakdance .bde-heading-38-111 {
  width: 56rem;
  color: var(--bde-palette-color-8);
  font-size: var(--preset-id-9d2c667e-bfea-466d-92c6-f165f306a603-font-size);
  font-family: var(
    --preset-id-9d2c667e-bfea-466d-92c6-f165f306a603-font-family
  );
  font-weight: var(
    --preset-id-9d2c667e-bfea-466d-92c6-f165f306a603-font-weight
  );
  line-height: var(
    --preset-id-9d2c667e-bfea-466d-92c6-f165f306a603-line-height
  );
}
.breakdance .bde-columns-38-120 {
  --columnCount: 4;
}
@media (max-width: 1119px) {
  .breakdance .bde-columns-38-120 {
    --columnCount: 4;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-columns-38-120 {
    --columnCount: 4;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-columns-38-120 {
    --columnCount: 4;
  }
  .breakdance .bde-columns-38-120.bde-columns {
    --columnCount: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .breakdance .bde-columns-38-120.bde-columns > .bde-column {
    --column-width: 50%;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-columns-38-120 {
    --columnCount: 4;
  }
}
.breakdance .bde-column-38-121 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-column-38-122 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-column-38-123 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-column-38-124 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-columns-38-134 {
  --columnCount: 4;
}
@media (max-width: 1119px) {
  .breakdance .bde-columns-38-134 {
    --columnCount: 4;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-columns-38-134 {
    --columnCount: 4;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-columns-38-134 {
    --columnCount: 4;
  }
  .breakdance .bde-columns-38-134.bde-columns {
    --columnCount: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .breakdance .bde-columns-38-134.bde-columns > .bde-column {
    --column-width: 50%;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-columns-38-134 {
    --columnCount: 4;
  }
}
.breakdance .bde-column-38-135 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-column-38-137 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-column-38-139 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-column-38-141 {
  --column-width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.breakdance .bde-fancy-divider-38-110 {
  --bde-fancy-divider-border-style: solid;
  --bde-fancy-divider-border-size: 5px;
  --bde-fancy-divider-border-color: var(--bde-palette-color-5);
}
@media (max-width: 1119px) {
  .breakdance .bde-fancy-divider-38-110 {
    --bde-fancy-divider-border-style: solid;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-fancy-divider-38-110 {
    --bde-fancy-divider-border-style: solid;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-fancy-divider-38-110 {
    --bde-fancy-divider-border-style: solid;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-fancy-divider-38-110 {
    --bde-fancy-divider-border-style: solid;
  }
}
.breakdance .bde-heading-38-113 {
  color: var(--bde-palette-color-8);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
  margin-top: 4rem;
}
.breakdance .bde-heading-38-113 {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
}
.breakdance .bde-columns-38-114 {
  --columnCount: 3;
}
@media (max-width: 1119px) {
  .breakdance .bde-columns-38-114 {
    --columnCount: 3;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-columns-38-114 {
    --columnCount: 3;
  }
  .breakdance .bde-columns-38-114.bde-columns {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .breakdance .bde-columns-38-114.bde-columns > .bde-column {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-columns-38-114 {
    --columnCount: 3;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-columns-38-114 {
    --columnCount: 3;
  }
}
.breakdance .bde-column-38-115 {
  --column-width: 33.34%;
  gap: 0.3rem;
  border-top: 1px solid var(--bde-palette-shade-7);
  border-bottom: 1px solid var(--bde-palette-shade-7);
  border-left: 1px solid var(--bde-palette-shade-7);
  border-right: 1px solid var(--bde-palette-shade-7);
  border-radius: 0.75rem;
}
.breakdance .bde-column-38-115 {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.25) 48.717948717948715%,
    rgba(255, 255, 255, 0.15) 100%
  );
}
.breakdance .bde-column-38-115.bde-column {
  padding: 2.5rem;
}
.breakdance .bde-column-38-115 {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: auto 300%;
  background-position: 0 0;
  transition: background 1s ease;
}
.breakdance .bde-column-38-115:hover {
  background-position: 100% 100%;
}
@media (max-width: 1119px) {
  .breakdance .bde-column-38-115.bde-column {
    padding: 1.5rem;
  }
}
.breakdance .bde-image-38-155 {
  width: 50rem;
}
.breakdance .bde-image-38-155 .breakdance-image-object {
  width: 100%;
  height: auto;
}
.breakdance .bde-image-38-155 {
  position: absolute;
  top: -6.5rem;
  left: -25%;
}
@media (max-width: 1119px) {
  .breakdance .bde-image-38-155 {
    position: absolute;
    top: -4.5rem;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-image-38-155 {
    width: 30rem;
  }
  .breakdance .bde-image-38-155 .breakdance-image-object {
    width: 100%;
    height: auto;
  }
  .breakdance .bde-image-38-155 {
    position: absolute;
    top: -7.5rem;
    left: -10rem;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-image-38-155 {
    position: absolute;
    top: -7.5rem;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-image-38-155 {
    position: absolute;
    top: -6rem;
    left: -7rem;
  }
}
.breakdance .bde-heading-38-273 {
  color: var(--bde-palette-color-8);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
}
.breakdance .bde-text-38-144 {
  color: var(--bde-palette-color-9);
}
.breakdance .bde-rich-text-38-146 {
  margin-top: 2rem;
  color: var(--bde-palette-color-9);
}
.breakdance .bde-column-38-147 {
  --column-width: 33.33%;
  gap: 0.3rem;
  border-top: 1px solid var(--bde-palette-shade-7);
  border-bottom: 1px solid var(--bde-palette-shade-7);
  border-left: 1px solid var(--bde-palette-shade-7);
  border-right: 1px solid var(--bde-palette-shade-7);
  border-radius: 0.75rem;
}
.breakdance .bde-column-38-147.bde-column {
  padding: 2.5rem;
}
.breakdance .bde-column-38-147 {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: auto 300%;
  background-position: 0 0;
  transition: background 1s ease;
}
.breakdance .bde-column-38-147:hover {
  background-position: 100% 100%;
}
@media (max-width: 1119px) {
  .breakdance .bde-column-38-147.bde-column {
    padding: 1.5rem;
  }
}
.breakdance .bde-heading-38-271 {
  color: var(--bde-palette-color-8);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-425wpadminbar2-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
}
.breakdance .bde-text-38-149 {
  color: var(--bde-palette-color-9);
}
.breakdance .bde-rich-text-38-150 {
  margin-top: 2rem;
  color: var(--bde-palette-color-9);
}
.breakdance .bde-column-38-151 {
  --column-width: 33.33%;
  gap: 0.3rem;
  border-top: 1px solid var(--bde-palette-shade-7);
  border-bottom: 1px solid var(--bde-palette-shade-7);
  border-left: 1px solid var(--bde-palette-shade-7);
  border-right: 1px solid var(--bde-palette-shade-7);
  border-radius: 0.75rem;
}
.breakdance .bde-column-38-151.bde-column {
  padding: 2.5rem;
}
.breakdance .bde-column-38-151 {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: auto 300%;
  background-position: 0 0;
  transition: background 1s ease;
}
.breakdance .bde-column-38-151:hover {
  background-position: 100% 100%;
}
@media (max-width: 1119px) {
  .breakdance .bde-column-38-151.bde-column {
    padding: 1.5rem;
  }
}
.breakdance .bde-heading-38-272 {
  color: var(--bde-palette-color-8);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
}
.breakdance .bde-text-38-153 {
  color: var(--bde-palette-color-9);
}
.breakdance .bde-rich-text-38-154 {
  margin-top: 2rem;
  color: var(--bde-palette-color-9);
}
.breakdance .bde-section-38-256 .section-container {
  --bde-section-width: 100%;
}
.breakdance .bde-section-38-256 .section-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.breakdance .bde-columns-38-257 {
  --columnCount: 2;
  --bde-column-gap: 0px;
}
@media (max-width: 1119px) {
  .breakdance .bde-columns-38-257 {
    --columnCount: 2;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-columns-38-257 {
    --columnCount: 2;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-columns-38-257 {
    --columnCount: 2;
  }
  .breakdance .bde-columns-38-257.bde-columns {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .breakdance .bde-columns-38-257.bde-columns > .bde-column {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-columns-38-257 {
    --columnCount: 2;
  }
}
.breakdance .bde-column-38-258 {
  --column-width: 36.76%;
}
.breakdance .bde-image-hover-card-38-265 {
  width: 100%;
}
.breakdance .bde-image-hover-card-38-265 .c4-izmir {
  --transition-duration: 500ms;
  --border-width: 2px;
  --image-opacity: 0.3;
  --border-color: #f1f1f1;
}
.breakdance .bde-image-hover-card-38-265 figure {
  background: linear-gradient(
    45deg,
    rgba(8, 16, 77, 1) 21.53846153846154%,
    rgba(55, 105, 211, 1) 98.97435897435898%
  );
}
.breakdance .bde-image-hover-card-38-265 figcaption h3 {
  color: #fdfdfd;
  font-family: Polysans;
  font-size: clamp(1.75rem, 1.558rem + 0.769vw, 2.25rem);
  font-weight: 400;
  line-height: 1;
}
.breakdance .bde-image-hover-card-38-265 {
  border-radius: 0;
}
.breakdance .bde-image-hover-card-38-266 {
  width: 100%;
}
.breakdance .bde-image-hover-card-38-266 .c4-izmir {
  --transition-duration: 500ms;
  --border-width: 2px;
  --image-opacity: 0.3;
  --border-color: #f1f1f1;
}
.breakdance .bde-image-hover-card-38-266 figure {
  background: linear-gradient(
    45deg,
    rgba(8, 16, 77, 1) 21.53846153846154%,
    rgba(55, 105, 211, 1) 98.97435897435898%
  );
}
.breakdance .bde-image-hover-card-38-266 figcaption h3 {
  color: #fdfdfd;
  font-family: Polysans;
  font-size: clamp(1.75rem, 1.558rem + 0.769vw, 2.25rem);
  font-weight: 400;
  line-height: 1;
}
.breakdance .bde-image-hover-card-38-267 {
  width: 100%;
}
.breakdance .bde-image-hover-card-38-267 .c4-izmir {
  --transition-duration: 500ms;
  --border-width: 2px;
  --image-opacity: 0.3;
  --border-color: #f1f1f1;
}
.breakdance .bde-image-hover-card-38-267 figure {
  background: linear-gradient(
    45deg,
    rgba(8, 16, 77, 1) 21.53846153846154%,
    rgba(55, 105, 211, 1) 98.97435897435898%
  );
}
.breakdance .bde-image-hover-card-38-267 figcaption h3 {
  color: #fdfdfd;
  font-family: Polysans;
  font-size: clamp(1.75rem, 1.558rem + 0.769vw, 2.25rem);
  font-weight: 400;
  line-height: 1;
}
.breakdance .bde-column-38-262 {
  --column-width: 63.24%;
}
.breakdance .bde-image-hover-card-38-269 {
  width: 100%;
}
.breakdance .bde-image-hover-card-38-269 .c4-izmir {
  --transition-duration: 500ms;
  --border-width: 2px;
  --image-opacity: 0.3;
  --border-color: #f1f1f1;
}
.breakdance .bde-image-hover-card-38-269 figure {
  background: linear-gradient(
    45deg,
    rgba(8, 16, 77, 1) 21.53846153846154%,
    rgba(55, 105, 211, 1) 98.97435897435898%
  );
}
.breakdance .bde-image-hover-card-38-269 figcaption h3 {
  color: #fdfdfd;
  font-family: Polysans;
  font-size: clamp(1.75rem, 1.558rem + 0.769vw, 2.25rem);
  font-weight: 400;
  line-height: 1;
}
.breakdance .bde-image-hover-card-38-270 {
  width: 100%;
}
.breakdance .bde-image-hover-card-38-270 .c4-izmir {
  --transition-duration: 500ms;
  --border-width: 2px;
  --image-opacity: 0.3;
  --border-color: #f1f1f1;
}
.breakdance .bde-image-hover-card-38-270 figure {
  background: linear-gradient(
    45deg,
    rgba(8, 16, 77, 1) 21.53846153846154%,
    rgba(55, 105, 211, 1) 98.97435897435898%
  );
}
.breakdance .bde-image-hover-card-38-270 figcaption h3 {
  color: #fdfdfd;
  font-family: Polysans;
  font-size: clamp(1.75rem, 1.558rem + 0.769vw, 2.25rem);
  font-weight: 400;
  line-height: 1;
}
.breakdance .bde-section-38-165 .section-container {
  gap: 1rem;
}
.breakdance .bde-text-38-176 {
  color: var(--bde-palette-color-2);
  font-size: var(--preset-id-a0e71f55-6252-4bfd-aa22-0133d0c5d97a-font-size);
  font-family: var(
    --preset-id-a0e71f55-6252-4bfd-aa22-0133d0c5d97a-font-family
  );
  font-weight: var(
    --preset-id-a0e71f55-6252-4bfd-aa22-0133d0c5d97a-font-weight
  );
}
.breakdance .bde-heading-38-177 {
  color: var(--bde-palette-color-11);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
  margin-bottom: 2rem;
}
.breakdance .bde-columns-38-446 {
  --columnCount: 3;
  --bde-column-gap: 2rem;
}
@media (max-width: 1119px) {
  .breakdance .bde-columns-38-446 {
    --columnCount: 3;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-columns-38-446 {
    --columnCount: 3;
    --bde-column-gap: 1.5rem;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-columns-38-446 {
    --columnCount: 3;
  }
  .breakdance .bde-columns-38-446.bde-columns {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .breakdance .bde-columns-38-446.bde-columns > .bde-column {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-columns-38-446 {
    --columnCount: 3;
  }
}
.breakdance .bde-column-38-447 {
  --column-width: 33.33%;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  min-height: 30rem;
}
@media (max-width: 1119px) {
  .breakdance .bde-column-38-447 {
    min-height: 10rem;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-column-38-447 {
    min-height: 15rem;
  }
}
.breakdance .bde-image-38-458 .breakdance-image-container {
  border-radius: 1rem;
}
.breakdance .bde-image-38-458 .breakdance-image-clip {
  border-radius: 1rem;
}
.breakdance .bde-image-38-458 .breakdance-image-object {
  height: 30rem;
  object-fit: cover;
  width: auto;
}
@media (max-width: 1119px) {
  .breakdance .bde-image-38-458 .breakdance-image-object {
    height: 20rem;
    object-fit: cover;
    width: auto;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-image-38-458 .breakdance-image-object {
    height: 15rem;
    object-fit: cover;
    width: auto;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-image-38-458 .breakdance-image-object {
    height: 100%;
    object-fit: cover;
    width: auto;
  }
}
.breakdance .bde-image-38-459 {
  position: absolute;
  transform: translate(0px, -19px);
}
@media (max-width: 1119px) {
  .breakdance .bde-image-38-459 {
    position: absolute;
    top: 5px;
    max-height: 20rem;
    transform: translate(2px, 0px);
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-image-38-459 {
    transform: translate(1px, -3px);
  }
}
@media (max-width: 767px) {
  .breakdance .bde-image-38-459 {
    transform: translate(-1px, -24px);
  }
}
@media (max-width: 479px) {
  .breakdance .bde-image-38-459 {
    transform: translateY(-20px);
  }
}
.breakdance .bde-text-38-448 {
  color: var(--bde-palette-color-9);
  font-size: var(--preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-font-size);
  font-family: var(
    --preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-font-family
  );
  font-weight: var(
    --preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-font-weight
  );
  line-height: var(
    --preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-line-height
  );
  text-shadow: 0 1px 8px var(--bde-palette-darker-shade-12);
}
.breakdance .bde-text-38-448 {
  position: absolute;
  bottom: 5%;
}
.breakdance .bde-column-38-450 {
  --column-width: 33.33%;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  border-radius: 1rem;
  min-height: 26rem;
}
.breakdance .bde-column-38-450 {
  background-image: url(../images/home-creative-bg-1.webp);
}
@media (max-width: 1119px) {
  .breakdance .bde-column-38-450 {
    min-height: 10rem;
  }
}
.breakdance .bde-image-38-451 .breakdance-image-object {
  height: 29rem;
  width: auto;
}
@media (max-width: 1119px) {
  .breakdance .bde-image-38-451 .breakdance-image-object {
    height: 19rem;
    width: auto;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-image-38-451 .breakdance-image-object {
    height: 15rem;
    width: auto;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-image-38-451 .breakdance-image-object {
    height: 25rem;
    width: auto;
  }
}
.breakdance .bde-text-38-452 {
  color: var(--bde-palette-color-9);
  font-size: var(--preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-font-size);
  font-family: var(
    --preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-font-family
  );
  font-weight: var(
    --preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-font-weight
  );
  line-height: var(
    --preset-id-8a293fcd-a643-4ad7-938f-5b4a93f86e0d-line-height
  );
  text-shadow: 0 1px 8px var(--bde-palette-darker-shade-12);
}
.breakdance .bde-text-38-452 {
  position: absolute;
  bottom: 5%;
}
.breakdance .bde-column-38-453 {
  --column-width: 33.34%;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  border-radius: 1rem;
}
.breakdance .bde-column-38-453 {
  background-image: url(../images/home-creative-bg-1.webp);
}
.breakdance .bde-div-38-455 {
  gap: 0.5rem;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.breakdance .bde-div-38-455 {
  position: absolute;
  bottom: 5%;
}
.breakdance .bde-div-38-455:hover .bde-masker {
  background: linear-gradient(270deg, #9df176, #e78bf3, #8a92f1, #d5d8f1);
  background-size: 800% 800%;
  -webkit-animation: logo-gradient 15s ease infinite;
  -moz-animation: logo-gradient 15s ease infinite;
  animation: logo-gradient 15s ease infinite;
}
@-webkit-keyframes logo-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logo-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logo-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.breakdance .bde-masker-38-456 {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 50% 100%;
  mask-position: 50% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(../images/BW-logotype-white.svg) !important;
  mask-image: url(../images/BW-logotype-white.svg) !important;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--bde-palette-color-5);
}
.breakdance .bde-text-38-457 {
  color: var(--bde-palette-color-9);
  font-family: " lab grotesque";
  font-size: clamp(1.25rem, 1.154rem + 0.385vw, 1.5rem);
  font-weight: 400;
  line-height: 0.8em;
  text-shadow: 0 1px 8px var(--bde-palette-darker-shade-12);
}
.breakdance .bde-section-38-178 .section-container {
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}
.breakdance .bde-section-38-178 {
  background-color: var(--bde-palette-color-1);
}
.breakdance .bde-section-38-178 .section-container {
  --bde-section-width: 100%;
}
@media (max-width: 1119px) {
  .breakdance .bde-section-38-178 .section-container {
    align-items: flex-start;
    text-align: left;
  }
}
.breakdance .bde-div-38-207 {
  align-items: center;
  text-align: center;
}
.breakdance .bde-div-38-207 {
  z-index: 10;
}
@media (max-width: 1119px) {
  .breakdance .bde-div-38-207 {
    align-items: flex-start;
    text-align: left;
  }
}
.breakdance .bde-text-38-203 {
  color: var(--bde-palette-color-2);
  font-size: var(--preset-id-a0e71f55-6252-4bfd-aa22-0133d0c5d97a-font-size);
  font-family: var(
    --preset-id-a0e71f55-6252-4bfd-aa22-0133d0c5d97a-font-family
  );
  font-weight: var(
    --preset-id-a0e71f55-6252-4bfd-aa22-0133d0c5d97a-font-weight
  );
}
.breakdance .bde-heading-38-204 {
  color: var(--bde-palette-color-8);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
}
.breakdance .bde-heading-38-205 {
  color: var(--bde-palette-color-8);
  font-family: " lab grotesque";
  font-size: clamp(2.25rem, 2.058rem + 0.769vw, 2.75rem);
  font-weight: 400;
  margin-top: 4rem;
}
.breakdance .bde-image-38-206 {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .breakdance .bde-image-38-206 {
    width: 40rem;
  }
  .breakdance .bde-image-38-206 .breakdance-image-object {
    width: 100%;
    height: auto;
  }
}
.breakdance .bde-section-38-242 .section-container {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .breakdance .bde-section-38-242 .section-container {
    padding-top: 0;
  }
}
.breakdance .bde-section-38-213 .section-container {
  gap: 2rem;
}
.breakdance .bde-section-38-213 .section-container {
  padding-bottom: 0;
}
.breakdance .bde-heading-38-222 {
  color: var(--bde-palette-color-11);
  font-size: var(--preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-size);
  font-family: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-family
  );
  font-weight: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-font-weight
  );
  line-height: var(
    --preset-id-0bfde8ca-daef-4252-9a0f-b35e33a5d2a1-line-height
  );
}
.breakdance .bde-post-list-38-244 > .ee-posts {
  --bde-posts-gap: 20px;
  --bde-posts-per-row: 3;
}
.breakdance .bde-post-list-38-244 .ee-post {
  background-color: var(--bde-palette-color-5);
  border-radius: 1rem;
  box-shadow: 2px 4px 20px 0 #0000000f;
  padding: 1.5rem;
  gap: 2rem;
  align-items: flex-start;
}
.breakdance .bde-post-list-38-244 .ee-post-wrap {
  align-items: flex-start;
}
.breakdance .bde-post-list-38-244 .ee-post-meta-item:not(:last-child):after {
  content: "/";
}
.breakdance .bde-post-list-38-244 .ee-post-title {
  text-align: left;
}
.breakdance .bde-post-list-38-244 .ee-post-title a {
  font-family: " lab grotesque";
  font-size: clamp(1.25rem, 1.154rem + 0.385vw, 1.5rem);
  font-weight: 600;
  line-height: 1.2em;
}
.breakdance .bde-post-list-38-244 .ee-posts .ee-post-image-link {
  width: 100%;
}
.breakdance .bde-post-list-38-244 .ee-post-image {
  padding-bottom: calc(0.9 * 100%);
}
.breakdance .bde-post-list-38-244 .ee-post-image img {
  border-radius: 0.5rem;
}
.breakdance .bde-post-list-38-244 .ee-post-meta {
  justify-content: flex-start;
}
.breakdance .bde-post-list-38-244 .ee-post-taxonomy {
  justify-content: flex-start;
}
.breakdance .bde-post-list-38-244 .ee-post-content {
  text-align: left;
}
.breakdance .bde-post-list-38-244 .ee-post-button .button-atom__icon-wrapper {
  --spaceBeforeArrow: 4px;
  --hoverTranslate: 3px;
  margin-left: var(--spaceBeforeArrow);
}
.breakdance .bde-post-list-38-244 .ee-post-button .un-arrow-icon {
  position: relative;
  top: 0.06em;
  width: 0.7em;
  height: 0.7em;
  stroke-width: 2px;
  stroke: currentColor;
  fill: none;
  font-size: inherit;
  margin-left: 0.2em;
}
.breakdance .bde-post-list-38-244 .ee-post-button .un-arrow-icon_arrow {
  transition: transform 0.3s ease;
}
.breakdance .bde-post-list-38-244 .ee-post-button:hover .un-arrow-icon_arrow {
  transform: translateX(var(--hoverTranslate));
}
.breakdance .bde-post-list-38-244 .ee-post-button {
  color: var(--bde-palette-darker-shade-12);
  text-transform: uppercase;
}
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tab:not(.is-active)
  .bde-tabs__tab-title,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tab:not(.is-active)
  .bde-tabs__tab-icon
  > svg {
  color: var(--inactiveColor);
}
.breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active .bde-tabs__tab-title,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tab.is-active:hover
  .bde-tabs__tab-title,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tab.is-active
  .bde-tabs__tab-icon
  > svg,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tab.is-active:hover
  .bde-tabs__tab-icon
  > svg {
  color: var(--activeColor);
}
.breakdance .bde-post-list-38-244 .bde-tabs__tab:hover .bde-tabs__tab-title,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tab:hover
  .bde-tabs__tab-icon
  > svg {
  color: var(--hoverColor);
}
.breakdance .bde-post-list-38-244 .bde-tabs__tab:not(.is-active) {
  background-color: var(--inactiveBgColor);
}
.breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active,
.breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active:hover {
  background-color: var(--activeBgColor);
}
.breakdance .bde-post-list-38-244 .bde-tabs__tab:hover {
  background-color: var(--hoverBgColor);
}
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--tabs
  .bde-tabs__tab.is-active::after,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--tabs
  .bde-tabs__tab.is-active:hover::after,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--default
  .bde-tabs__tab.is-active::after,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--default
  .bde-tabs__tab.is-active:hover::after,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--bar
  .bde-tabs__tab.is-active::after,
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--bar
  .bde-tabs__tab.is-active:hover::after {
  background-color: var(--activeUnderlineColor, --activeColor);
}
.breakdance
  .bde-post-list-38-244
  .bde-tabs__tabslist--tabs
  .bde-tabs__tab:hover::after {
  background-color: var(--hoverUnderlineColor);
}
.breakdance .bde-post-list-38-244 .breakdance-swiper-wrapper {
  overflow: hidden;
}
.breakdance .ee-post-button {
  margin-left: auto;
}
@media (max-width: 1119px) {
  .breakdance .bde-post-list-38-244 > .ee-posts {
    --bde-posts-per-row: 2;
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-icon
    > svg {
    color: var(--inactiveColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-icon
    > svg,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--activeColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--hoverColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:not(.is-active) {
    background-color: var(--inactiveBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active,
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active:hover {
    background-color: var(--activeBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover {
    background-color: var(--hoverBgColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active:hover::after {
    background-color: var(--activeUnderlineColor, --activeColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab:hover::after {
    background-color: var(--hoverUnderlineColor);
  }
  .breakdance .bde-post-list-38-244 .breakdance-swiper-wrapper {
    overflow: hidden;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-post-list-38-244 > .ee-posts {
    --bde-posts-per-row: 1;
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-icon
    > svg {
    color: var(--inactiveColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-icon
    > svg,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--activeColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--hoverColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:not(.is-active) {
    background-color: var(--inactiveBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active,
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active:hover {
    background-color: var(--activeBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover {
    background-color: var(--hoverBgColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active:hover::after {
    background-color: var(--activeUnderlineColor, --activeColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab:hover::after {
    background-color: var(--hoverUnderlineColor);
  }
  .breakdance .bde-post-list-38-244 .breakdance-swiper-wrapper {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-post-list-38-244 .ee-post {
    padding: 1rem;
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-icon
    > svg {
    color: var(--inactiveColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-icon
    > svg,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--activeColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--hoverColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:not(.is-active) {
    background-color: var(--inactiveBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active,
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active:hover {
    background-color: var(--activeBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover {
    background-color: var(--hoverBgColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active:hover::after {
    background-color: var(--activeUnderlineColor, --activeColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab:hover::after {
    background-color: var(--hoverUnderlineColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__select {
    display: block !important;
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tabslist-container--dropdown {
    display: none !important;
  }
  .breakdance .bde-post-list-38-244 .breakdance-swiper-wrapper {
    overflow: hidden;
  }
  .bde-tabs__tabslist-container--scrollable,
  .bde-tabs__tabslist-container--scrollable .bde-tabs__tabslist {
    justify-content: flex-start !important;
  }
  .bde-tabs__tabslist-container--scrollable {
    position: relative;
  }
  .bde-tabs__tabslist-container--scrollable .bde-tabs__tabslist {
    overflow: auto;
    position: relative;
  }
  .breakdance .bde-post-list-38-244 {
    flex-direction: column;
  }
  .breakdance .bde-post-list-38-244 {
    flex-direction: column;
    align-items: unset;
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tabslist-container.is-vertical {
    overflow: hidden;
  }
}
@media (max-width: 479px) {
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:not(.is-active)
    .bde-tabs__tab-icon
    > svg {
    color: var(--inactiveColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active
    .bde-tabs__tab-icon
    > svg,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab.is-active:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--activeColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover .bde-tabs__tab-title,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tab:hover
    .bde-tabs__tab-icon
    > svg {
    color: var(--hoverColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:not(.is-active) {
    background-color: var(--inactiveBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active,
  .breakdance .bde-post-list-38-244 .bde-tabs__tab.is-active:hover {
    background-color: var(--activeBgColor);
  }
  .breakdance .bde-post-list-38-244 .bde-tabs__tab:hover {
    background-color: var(--hoverBgColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--default
    .bde-tabs__tab.is-active:hover::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active::after,
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--bar
    .bde-tabs__tab.is-active:hover::after {
    background-color: var(--activeUnderlineColor, --activeColor);
  }
  .breakdance
    .bde-post-list-38-244
    .bde-tabs__tabslist--tabs
    .bde-tabs__tab:hover::after {
    background-color: var(--hoverUnderlineColor);
  }
  .breakdance .bde-post-list-38-244 .breakdance-swiper-wrapper {
    overflow: hidden;
  }
}
.breakdance .bde-section-38-214 .section-container {
  gap: 1rem;
}
.breakdance .bde-section-38-214 .section-container {
  padding-bottom: 0;
}
.breakdance .bde-text-38-223 {
  color: var(--bde-palette-color-2);
  font-size: var(--preset-id-f5e97372-8d95-458a-932f-3ef4cab623f8-font-size);
  font-family: var(
    --preset-id-f5e97372-8d95-458a-932f-3ef4cab623f8-font-family
  );
  font-weight: var(
    --preset-id-f5e97372-8d95-458a-932f-3ef4cab623f8-font-weight
  );
}
.breakdance .bde-columns-38-227 {
  --columnCount: 2;
}
.breakdance .bde-columns-38-227 > div {
  padding: 4%;
}
.breakdance .bde-columns-38-227 {
  background-color: var(--bde-palette-color-1);
  border-radius: 1.5rem;
}
@media (max-width: 1119px) {
  .breakdance .bde-columns-38-227 {
    --columnCount: 2;
    --bde-column-gap: 0px;
  }
  .breakdance .bde-columns-38-227.bde-columns {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .breakdance .bde-columns-38-227.bde-columns > .bde-column {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-columns-38-227 {
    --columnCount: 2;
  }
}
@media (max-width: 767px) {
  .breakdance .bde-columns-38-227 {
    --columnCount: 2;
  }
}
@media (max-width: 479px) {
  .breakdance .bde-columns-38-227 {
    --columnCount: 2;
  }
}
.breakdance .bde-column-38-228 {
  --column-width: 44.96%;
}
@media (max-width: 1119px) {
  .breakdance .bde-column-38-228 {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .breakdance .bde-column-38-228 {
    align-items: center;
    text-align: center;
  }
}
.breakdance .bde-heading-38-230 {
  color: var(--bde-palette-color-8);
}
.breakdance .bde-column-38-229 {
  --column-width: 55.04%;
  justify-content: center;
}
.dead {
  max-width: 60%;
  background: linear-gradient(to right, #0096f2, #002fff);
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 280px auto !important;
    margin-bottom: 1px;
    bottom: 10px;
}
@media (max-width: 768px) {
  .dead {
    max-width: 100% !important;
    margin: 2px auto !important;
    
  }
}

/* raghib */
html {
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}
! normalize.css v8.0.1|MIT License|github.com/necolas/normalize.csshtml {
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
